header {
    color: #0adc49;
    background-color: azure;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 20px;
    position: sticky; 
    top: 0; 
    z-index: 100; 
  }
  
  header h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
   
  }
  